__pycache__
# PyCharm settings
.idea
# image data
coco
downloads
# experiments data
experiments
# jupyter notebooks
*.ipynb
# except for the final report
!Raport.ipynb
# model parameters
model_weights
